*
    font-family: sans-serif
    box-sizing: border-box
    outline: none
    
html
    position: fixed
    left: 0px
    right: 0px
    top: 0px
    bottom: 0px
    margin: 0px
    padding: 0px
    z-index: 0
    overflow-y: auto
    overflow-x: hidden

    body
        overflow-y: auto
        overflow-x: hidden
        height: 100%
        margin: 0
        scroll-behavior: smooth
        scroll-snap-type: y mandatory

.frontpage
    position: relative
    display: flex
    width: 100vw
    height: 100vh
    z-index: 1
    padding: 20vh 100px
    justify-content: center
    align-items: center
    flex-wrap: wrap
    flex-direction: column
    scroll-snap-align: start

    h1
        position: relative
        max-width: 800px
        margin: 0px auto
        font-size: 50px
        text-align: center
        color: black
        padding: 25px
        line-height: 1

        b
            // background: linear-gradient(360-160deg, #d53369 0%, #daae51 100%);
            // background: linear-gradient(360-160deg, #0700b8 0%, #00ff88 100%);

    h3
        display: inline-block
        position: relative
        max-width: 800px
        margin: -30px auto 35px auto
        font-size: 35px
        text-align: center
        color: black
        padding: 5px
        line-height: 1
        // background: linear-gradient(360-160deg, #00d2ff 0%, #3a47d5 100%);
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    a
        display: block
        position: relative
        max-width: 300px
        margin: 0px auto
        border: 2px solid #333
        padding: 15px 40px
        text-align: center
        border-radius: 500px
        font-weight: 900
        color: #333
        text-decoration: none
        transition: background 0.2s, color 0.2s

        &:hover
            background: #333
            color: #fff
            // font-weight: 100

    div
        height: 10vh
        width: 10px
        background: inherit

.writing
    position: relative
    width: 100vw
    min-height: 100vh
    margin: 0
    display: flex
    scroll-snap-align: start
    padding: 25vh 20vw


    .header
        position: absolute
        top: 14vh
        width: 440px
        right: 0vw
    
        h1 
            width: 100%
            // padding-left: 20px
            padding-bottom: 0px
            font-size: 36px
            border: none
            // border-left: 8px solid #fff
            font-weight: 900
            margin: 0px
            border-image-slice: 1
            
            color: #000
            border-bottom: 2px solid #000
            // border-image-source: linear-gradient(to left, #743ad5, #d53a9d)

            // background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%)
            // -webkit-background-clip: text
            // -webkit-text-fill-color: transparent
            
        h3
            font-size: 24px 
            font-weight: 100
            padding-left: 60px
            margin: 4px 0px
            color: #000
            // background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%)
            // -webkit-background-clip: text
            // -webkit-text-fill-color: transparent

    .medium-widget
        position: relative
        display: block
        margin: 0 auto 
        width: 100%

        .medium-widget-article__image

            img
                border-radius: 5px

.work
    position: relative
    width: 100vw
    min-height: 120vh
    display: flex
    scroll-snap-align: start
    justify-content: space-between
    padding-bottom: 20vh

    .header
        position: absolute
        top: 14vh
        width: 440px
        right: 0vw
    
        h1 
            width: 100%
            // padding-left: 40px
            padding-bottom: 0px
            font-size: 36px
            border: none
            // border-left: 8px solid #fff
            font-weight: 900
            margin: 0px
            border-image-slice: 1
            color: #000
            border-bottom: 2px solid #000
            
    .grid
        position: relative
        text-align: center
        padding: 50px 150px
        // max-width: 1000px
        top: 16vh
        margin: 0px auto
        grid-template-columns: auto auto auto auto

        a
            display: inline-block
            width: 400px 
            height: 400px
            margin: 0px
            box-shadow: 0px 0px 2px #ddd
            // border: 1px solid #ddd
            // border-radius: 5px
            overflow: hidden
            backdrop-filter: blur(5px)

            &:hover
                cursor: pointer

                h3, p
                    opacity: 1

                img
                    filter: brightness(2000%) blur(5px)

            img
                width: 100%
                height: 100%
                background: #fff
                object-fit: contain
                filter: brightness(100%) blur(0px)
                transition: filter 0.2s

            h3
                position: absolute
                left: 40px
                top: 10px
                font-size: 32px
                color: #333
                transition: opacity 0.2s
                width: 380px
                opacity: 0
                text-align: left
                font-family: monospace

            p
                position: absolute
                left: 40px
                top: 70px
                font-size: 18px
                color: #333
                transition: opacity 0.2s
                width: 320px
                opacity: 0
                text-align: left

.contact
    position: relative
    width: 100vw
    height: 100vh
    display: flex
    scroll-snap-align: start

    .header
        position: absolute
        top: 14vh
        width: 420px
        right: 0vw
    
        h1
            width: 100%
            padding-left: 20px
            padding-bottom: 0px
            font-size: 36px
            border: none
            border-left: 8px solid #fff
            font-weight: 900
            margin: 0px
            border-image-slice: 1
            
            color: #000
            border-bottom: 2px solid #000
            // border-image-source: linear-gradient(to left, #743ad5, #d53a9d)

            // background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%)
            // -webkit-background-clip: text
            // -webkit-text-fill-color: transparent
    
    form
        position: relative
        left: 20vw
        top: 25vh
        width: 400px
        height: 420px
        box-shadow: 0px 0px 5px #ddd
        padding: 25px
        border-radius: 10px

        input, textarea
            width: 330px
            height: 50px
            margin: 10px
            border: 1px solid #ddd
            padding: 15px
            border-radius: 5px

        textarea
            resize: none
            height: 140px

        input[type=submit]
            background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%)
            color: white
            border: none
            font-size: 18px
            box-shadow: 0px 0px 5px #ddd
            transition: all 0.2s

            &:hover
                // background: linear-gradient(180deg, #d53369 0%, #daae51 100%)
                cursor: pointer
                box-shadow: 0px 0px 30px #ddd
                transform: scale(1.1)

nav
    position: fixed
    left: 15px
    top: 0vh
    bottom: 0vh
    width: 70px
    padding: 5px 15px
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    flex-direction: column

    a
        position: relative
        color: #333

        svg
            width: 30px
            height: 30px
            fill: #333
            margin: 15px 5px

        p
            opacity: 0
            transition: opacity 0.4s, font-weight 0.2s
            position: absolute
            left: 46px
            top: 8px
            font-size: 16px
            font-weight: 100

        &:hover
            
            p
                opacity: 1
                font-weight: 900

    div
        width: 10px
        height: 10vh
