* {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

html body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.frontpage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 20vh 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-snap-align: start;
}

.frontpage h1 {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
  font-size: 50px;
  text-align: center;
  color: black;
  padding: 25px;
  line-height: 1;
}

.frontpage h3 {
  display: inline-block;
  position: relative;
  max-width: 800px;
  margin: -30px auto 35px auto;
  font-size: 35px;
  text-align: center;
  color: black;
  padding: 5px;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(#FC466B), to(#3F5EFB));
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frontpage a {
  display: block;
  position: relative;
  max-width: 300px;
  margin: 0px auto;
  border: 2px solid #333;
  padding: 15px 40px;
  text-align: center;
  border-radius: 500px;
  font-weight: 900;
  color: #333;
  text-decoration: none;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.frontpage a:hover {
  background: #333;
  color: #fff;
}

.frontpage div {
  height: 10vh;
  width: 10px;
  background: inherit;
}

.writing {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
  padding: 25vh 20vw;
}

.writing .header {
  position: absolute;
  top: 14vh;
  width: 440px;
  right: 0vw;
}

.writing .header h1 {
  width: 100%;
  padding-bottom: 0px;
  font-size: 36px;
  border: none;
  font-weight: 900;
  margin: 0px;
  border-image-slice: 1;
  color: #000;
  border-bottom: 2px solid #000;
}

.writing .header h3 {
  font-size: 24px;
  font-weight: 100;
  padding-left: 60px;
  margin: 4px 0px;
  color: #000;
}

.writing .medium-widget {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.writing .medium-widget .medium-widget-article__image img {
  border-radius: 5px;
}

.work {
  position: relative;
  width: 100vw;
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20vh;
}

.work .header {
  position: absolute;
  top: 14vh;
  width: 440px;
  right: 0vw;
}

.work .header h1 {
  width: 100%;
  padding-bottom: 0px;
  font-size: 36px;
  border: none;
  font-weight: 900;
  margin: 0px;
  border-image-slice: 1;
  color: #000;
  border-bottom: 2px solid #000;
}

.work .grid {
  position: relative;
  text-align: center;
  padding: 50px 150px;
  top: 16vh;
  margin: 0px auto;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.work .grid a {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 5px #ddd;
          box-shadow: 0px 0px 5px #ddd;
  border-radius: 5px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.work .grid a:hover {
  cursor: pointer;
}

.work .grid a:hover * {
  opacity: 1;
}

.work .grid a:hover img {
  -webkit-filter: brightness(2000%) blur(5px);
          filter: brightness(2000%) blur(5px);
}

.work .grid a img {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 1;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(100%) blur(0px);
          filter: brightness(100%) blur(0px);
/*   -webkit-transition: -webkit-filter 0.4s; */
/*   transition: -webkit-filter 0.4s; */
/*   transition: filter 0.4s; */
/*   transition: filter 0.4s, -webkit-filter 0.4s; */
}

.work .grid a * {
  opacity: 0;
/*   -webkit-transition: opacity 0.4s; */
/*   transition: opacity 0.4s; */
  color: #333;
}

.work .grid a h3 {
  position: absolute;
  left: 40px;
  top: 10px;
  font-size: 32px;
  width: 380px;
  text-align: left;
  font-family: monospace;
}

.work .grid a p {
  position: absolute;
  left: 40px;
  top: 70px;
  font-size: 18px;
  width: 320px;
  text-align: left;
}

.work .grid a ul {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  text-align: center;
  bottom: 0px;
  height: 40px;
  white-space: nowrap;
  list-style-type: none;
  text-align: center;
}

.work .grid a ul li {
  font-size: 14px;
  display: inline;
  font-weight: 900;
  text-transform: uppercase;
}

.work .grid a ul li::after {
  content: " \00b7";
}

.work .grid a ul li:last-child::after {
  content: none;
}

.contact {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
}

.contact .header {
  position: absolute;
  top: 14vh;
  width: 420px;
  right: 0vw;
}

.contact .header h1 {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 0px;
  font-size: 36px;
  border: none;
  border-left: 8px solid #fff;
  font-weight: 900;
  margin: 0px;
  border-image-slice: 1;
  color: #000;
  border-bottom: 2px solid #000;
}

.contact form {
  position: relative;
  left: 20vw;
  top: 25vh;
  width: 400px;
  height: 420px;
  -webkit-box-shadow: 0px 0px 5px #ddd;
          box-shadow: 0px 0px 5px #ddd;
  padding: 25px;
  border-radius: 10px;
}

.contact form input, .contact form textarea {
  width: 330px;
  height: 50px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.contact form textarea {
  resize: none;
  height: 140px;
}

.contact form input[type=submit] {
  background: -webkit-gradient(linear, left top, right top, from(#FC466B), to(#3F5EFB));
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  color: white;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 5px #ddd;
          box-shadow: 0px 0px 5px #ddd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact form input[type=submit]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px #ddd;
          box-shadow: 0px 0px 30px #ddd;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav {
  position: fixed;
  left: 15px;
  top: 0vh;
  bottom: 0vh;
  width: 70px;
  padding: 5px 15px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav a {
  position: relative;
  color: #333;
}

nav a svg {
  width: 30px;
  height: 30px;
  fill: #333;
  margin: 15px 5px;
}

nav a p {
  opacity: 0;
  -webkit-transition: opacity 0.4s, font-weight 0.2s;
  transition: opacity 0.4s, font-weight 0.2s;
  position: absolute;
  left: 46px;
  top: 8px;
  font-size: 16px;
  font-weight: 100;
}

nav a:hover p {
  opacity: 1;
  font-weight: 900;
}

nav div {
  width: 10px;
  height: 10vh;
}
/*# sourceMappingURL=style.css.map */
